@{
    ViewData["Title"] = "Chefs";
}
@model Chef;
<div class="text-center">
    <h1 class="display-4"><a href="/">Chefs</a> | <a href="/dishes">Dishes</a></h1> <a href="/NewChef">Add a Chef</a>
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th># of Dishes</th>
            </tr>
            @foreach (Chef chef in ViewBag.AllChefs)
            {
                <tr>
                    <td>@chef.FirstName @chef.LastName</td>
                    @{int age = (int)(DateTime.Now - chef.BirthDate).TotalDays/365;}
                    <td>@age</td>
                    <td>@chef.ChefDishes.Count</td>
                </tr>
            }
        </table>
</div>